In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [2]:
data = pd.read_csv('../untouchedData/adult.data.csv')
data.shape

(48842, 15)

In [3]:
dataModified = data.copy(deep=True);

In [4]:
[feature for feature in dataModified.columns if ' ?' in dataModified[feature].unique() or np.nan in dataModified[feature].unique()]

/tmp/ipykernel_22192/3932954680.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  [feature for feature in dataModified.columns if ' ?' in dataModified[feature].unique() or np.nan in dataModified[feature].unique()]

['workclass', 'occupation', 'native-country']

In [5]:
for feature in dataModified.columns:
    dataModified[feature] = dataModified[feature].replace(' ?', np.nan)
dataModified.dropna(how='any', inplace=True)
dataModified.shape

(45222, 15)

In [8]:
dataModified.loc[dataModified['native-country']!=' United-States', 'native-country'] = 'Non-US'
dataModified.loc[dataModified['native-country'] == ' United-States', 'native-country'] = 'US'
dataModified.head

<bound method NDFrame.head of        age          workclass  fnlwgt   education  education-num  \
0       39          State-gov   77516   Bachelors             13
1       50   Self-emp-not-inc   83311   Bachelors             13
2       38            Private  215646     HS-grad              9
3       53            Private  234721        11th              7
4       28            Private  338409   Bachelors             13
...    ...                ...     ...         ...            ...
48836   33            Private  245211   Bachelors             13
48837   39            Private  215419   Bachelors             13
48839   38            Private  374983   Bachelors             13
48840   44            Private   83891   Bachelors             13
48841   35       Self-emp-inc  182148   Bachelors             13

            marital-status          occupation    relationship  \
0            Never-married        Adm-clerical   Not-in-family
1       Married-civ-spouse     Exec-managerial         Husband
2                 Divorced   Handlers-cleaners   Not-in-family
3       Married-civ-spouse   Handlers-cleaners         Husband
4       Married-civ-spouse      Prof-specialty            Wife
...                    ...                 ...             ...
48836        Never-married      Prof-specialty       Own-child
48837             Divorced      Prof-specialty   Not-in-family
48839   Married-civ-spouse      Prof-specialty         Husband
48840             Divorced        Adm-clerical       Own-child
48841   Married-civ-spouse     Exec-managerial         Husband

                      race      sex  capital-gain  capital-loss  \
0                    White     Male          2174             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male             0             0
4                    Black   Female             0             0
...                    ...      ...           ...           ...
48836                White     Male             0             0
48837                White   Female             0             0
48839                White     Male             0             0
48840   Asian-Pac-Islander     Male          5455             0
48841                White     Male             0             0

       hours-per-week native-country Probability
0                  40         Non-US       <=50K
1                  13         Non-US       <=50K
2                  40         Non-US       <=50K
3                  40         Non-US       <=50K
4                  40         Non-US       <=50K
...               ...            ...         ...
48836              40         Non-US       <=50K
48837              36         Non-US       <=50K
48839              50         Non-US       <=50K
48840              40         Non-US       <=50K
48841              60         Non-US        >50K

[45222 rows x 15 columns]>

In [7]:
trainData = dataModified.sample(frac=0.8, random_state=1)
testData = dataModified.copy(deep=True).drop(trainData.index)
trainData.to_csv('trainData.csv')
testData.to_csv('testData.csv')

In [9]:
trainData.shape

(36178, 15)

In [10]:
testData.shape

(9044, 15)